@charset "UTF-8";
/**
 * 
 * @authors jiweijin (gdut_jiweijin@sina.com)
 * school      gongdong  university  of technology
 */
 *{
    margin:0px;
    padding:0px;
 }


 .container{
    margin: 0 auto;
    width:80%;
    height:100%;
    position: relative;
    overflow: hidden;
 }

 .bg-adaptive{
    background-size: 100% 100%;
 }

/*页面切换，镜头效果*/
.effect-out{
    -webkit-animation:effectOut  8s  ease-in-out  forwards;
    -moz-animation:effectOut 8s  ease-in-out forwards;
    transform-origin: 70%  70%;
}

.effect-in{
    z-index:15 !important;
    display:block;
    opacity:0;
     transform: scale(8);
    -webkit-animation: effectIn 5s  ease-in-out  forwards;
    -moz-transform:scale(8);
    -moz-animation:effectIn 5s  ease-in-out  forwards;
    transform-origin:58.5% 73.5%;

}

@-webkit-keyframes  effectOut{
    0%{opacity:1;}
    100%{transform:scale(20);opacity: 0;}
}
@-moz-keyframes  effectOut{
    0%{opacity:1;}
    100%{transform:scale(20);opacity: 0;}
}

@-webkit-keyframes  effectIn{
    100%{transform:scale(1);opacity: 1;}
}
@-moz-keyframes  effectIn{
    100%{transform:scale(1);opacity: 1;}
}